.navbar {
    height: 3rem;
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-toggler {
    border-color: rgba(255,255,255,.5);
}

.navbar-toggler:focus, .navbar-toggler:hover {
    box-shadow: 0 0 0 0.2rem;
}

.navbar .container {
    background-color: black;
}

.brand-logo {
    height: 60px;
}

#main-section, #about {
    margin-top: 70px;
}

#about {
    position: fixed;
    top: 15%;
}

#background-section {
    margin-top: calc(100vh - 96px);
}

.portfolio-section {
    z-index: 1;
    position: relative;
}

#background-section, #portfolio {
    z-index: 10;
    position: relative;
}

.other-project-header, .accordion, #contact, footer {
    z-index: 20;
    position: relative;
}

.profile-image-containter {
    overflow: hidden;
    border-radius: 10px;
}

.profile-image {
    -webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
    filter: grayscale(80%);
    width: 100px;
    height: 100px;
    object-fit: cover;
    transform: scale(1.7);
    transform-origin: 50% 50%;
}

.banner-text-container {
    max-width: 900px;
}

.contact-container {
    width: 400px;
    max-width: 85%;
}

.contact-container input:not([type=submit]), .contact-container textarea {
    width: 100%;
    border: 1px solid black;
}

#toast {
    display: none;
    background: gray;
    transition: opacity 2s ease;
    height: 40px;
    z-index: 1;
}

#toast-text {
    width: 90%;
}

#toast-button {
    width: 10%;
    text-align: right;
}

#toast-button button {
    font-size: 1.2rem;
    margin: 5px 7px;
    line-height: 1.0;
    background-color: white;
    color: gray;
    border: none;
    border-radius: 5px;
}

.project-container {
    max-width: 1000px;
    margin: auto;
}

.project-container-small {
    max-width: 700px;
    margin: auto;
}

.mt-6 {
    margin-top: 4rem;
}

.mb-6 {
    margin-bottom: 4rem;
}

.w-80 {
    width: 80%;
}

.rounded-lg {
    border-radius: 10px;
}

a:not(.social-links, .button-link):hover {
    filter: brightness(80%);
}

button:not(.navbar-toggler, .button-style-dark, .button-style-light):hover, input[type=submit]:hover, .social-links:hover {
    opacity: 0.7;
}

.button-link {
    width: fit-content;
}

.border-custom-gray {
    border-color: #272727 !important;
}

.button-style-dark, .button-style-light {
    border: none;
    background-color: #000000;
    color: white;
    border-radius: 5px;
    padding: 3px 10px;
    opacity: 1.0 !important;
    filter: none !important;
    border: 1px solid white;
}

.button-style-light {
    border: 1px solid #353535;
}

.button-style-dark:hover, .button-style-light:hover {
    background-color: #353535;
    color: white !important;
    opacity: 1.0 !important;
    filter: none !important;
}

.fs-8 {
    font-size: 0.8rem;
}

.nav-link {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
}

.project-container .chiclet {
    display: inline-block;
    border: 1px solid gray;
    padding: 5px 8px;
    margin: 4px 0px;
    border-radius: 6px;
    background-color: gray;
    color: white;
}

.portfolio-section:nth-child(odd) {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-black-rgb),var(--bs-text-opacity))!important;

    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-white-rgb),var(--bs-bg-opacity))!important;
}

.portfolio-section:nth-child(even), .accordion-collapse {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb),var(--bs-text-opacity))!important;

    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-black-rgb),var(--bs-bg-opacity))!important;
}

.sticky {
    position: fixed;
    top: 70px;
    width: 100%;
    z-index: 10;
  }

.sticky + .background-container {
    padding-top: 96px;
}

.sticky + .project-container {
    padding-top: 96px;
}


/* At least medium screen */
@media only screen and (min-width: 768px) {
    .profile-header-container, .profile-text-container {
        width: 80%;
    }
    .background-header, .background-container {
        width: 768px;
        margin: 0 auto !important;
    }
    .background-box {
        margin: 0 1.5rem;
    }
}

/* Larger screen */
@media only screen and (min-width: 992px) {
    .nav-item {
        text-align: left;
    }
}